:root{
    --clr-primary: #565973;
    --clr-secondary: white;
    --font-primary:manrope;
    --brand-blue: #6366f1;
    --clr-bg:#f3f6ff;
    --clr-gray700:#565973;
    --clr-gray300:#E2E5F1;
}
body{
  font-family: var(--font-primary);
  background-color: var(--clr-secondary);
}
.carouselcontainer{
    background-color: var(--clr-bg);
    display:flex;
    flex-direction: column;
}
.first-square{
  display: flex;
  flex-direction: column;
  flex: wrap;
}
.start{
  display: flex;
  text-align:start;
  align-items:start
}
/*ul,ol{
    list-style: none;
    display: flex;
}*/

.testimonialsect{
  display: flex;
  background-color: var(--clr-bg);
}

.Introimg{
  height: 10em;
}
.introtext{
  font-family: var(--font-primary);
}
.center{
  align-items: center;
}
.main-nav .container{
  justify-content: space-between;
}
.container{
  padding-inline: 1rem;
  margin-inline: auto;
  width: 100%;
  @media(width >1200px){
    max-width: 1080px;
  }
  @media(width >1400px){
    max-width: 1260px;
  }
}
.sign-in{
  margin-left: 20px;
}
.showcase{
  padding-top: 6rem;
  text-align: center;
  background-color: var(--clr-bg);
  background-image: linear-gradient(to top,rgba(99,101,241,0.1),rgba(219,70,239,0.05)42%,rgba(241,244,253,0.07)83%);
  .appbuttons{
    display: flex;
    flex-direction: row;
    gap:1rem;
  }
  .content{
    width: 40%;
    padding-bottom: 3rem;
    text-align: start;
    margin-top: 5rem;
  }
  .appbutton{
    width: 100%;
    padding: .5em 1em;
      img{
        height: 3em;
    }
  }
  .more{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:2rem;
  }
  .first-square{
    position: relative;
  }
  .iphone-img-container{
    display: block;
    width: 60%;

    position: absolute;
    bottom:0;
    right:0;
  }
}
.btn-dropdown-intro{
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.main-nav.right{
  gap: 3rem;
}
.main-nav{
  padding: 1em;
}
.flex{
  display: flex;
}
.Display-1{
  font-size: 80px;
  font-family: var(--font-primary);
}
.Display-2{
  font-size: 72px;
  font-family: var(--font-primary);
}
.Display-4{
  font-size:56px;
}
.Heading-4{
  font-size: 24px;
}
.Body-M{
  font-size: 16px;
}
.Heading-2{
  font-size: 32px;
}
.Heading-1{
  font-size: 40px;
}
.Body-L{
  font-size: 18px;
}
.FAQ-panel{
  box-shadow:4px 2px 6.4px -1px #13102266,4px -2px 6.4px -1px #13102233;
  border-radius: 5px;
  padding: 1.5em;
  margin: 2em;
}
.appbutton{
margin: 1em;
}
.webbutton{
  background-color: var(--brand-blue);
  border: var(--brand-blue);
  border-radius: 5px;
  color: white;
}
.self-center
{
  align-self: center;
}
.square-4{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  ul{
    list-style-image:url("img/icons/bx-check-circle.svg");
  }
  .webbutton{
    width: 40%;
    height: 3em;
  }
}
.square-5{
  background-color: var(--clr-bg);
}
.feature-card{
  display: flex;
  align-items: flex-start;
  text-align: start;
  gap: 1rem;
}
.iphone-container{
  display: block;
}
.feature-text{
  flex:1;
}
.secondcontainer{
  display: flex;
  gap: 4rem;
}
.FeaturesList{  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 4rem;
}
.FeaturesImg{
padding: 1rem;
flex-shrink: 0;
}
.column{
  flex-direction: column;
}
.input-group{
  padding-left: 4em;
  height: 2em;
  .webbutton{
    border-radius: 0 .5rem .5rem 0;
    height: 2.5em;
  }
  .form-input{
  border-radius: .5em 0 0 .5em;
  }
}
.email{
  padding-left: 4em;
  height: 2em;
}
.text-center{
  text-align: center;
}
.contact-containers{
  border: width 5px;
  border-color:var(--clr-gray300);
  border-style: solid;
  margin: 10px;
  border-radius: 5px;
  padding: 7px;
  button{
    border: none;
    background-color: white;
  }
  .bluebutton{
    color: var(--brand-blue);
  }
}
summary{
display: flex;
justify-content: space-between;
}
summary::after{
  content: '';
  width: 36px;
  height: 20px;
  background-image: url(img/next-btn.png);
  background-size: cover;
}
.subscribe-container{
  background-color: var(--clr-bg);
  align-items: center;
  justify-content: center;
}
.greenbutton{
  color: #22C55E;
}
.copyright-footer{
  color: #9397AD;
  font-size: 14px;
}
.carousel-img{
  display: flex;
  justify-content: center;
}